/* Write your code here. */
* {
  margin: 0px;
  padding: 0px;
}
#root {
  background-image: url("https://assets.ccbp.in/frontend/react-js/congrats-card-bg.png");
  height: 100vh;
  width: 100%;
  background-size: cover;
}
.heading {
  text-align: center;
  color: black;
}
.container {
  background-color: #cffafe;
  background-size: cover;
  text-align: center;
}
